/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre .comment {
  color: #998;
  font-style: italic
}

pre .keyword,
pre .subst {
  color: #333;
  font-weight: bold
}

pre .number,
pre .ruby .constant {
  color: #099;
}

pre .string {
  color: #d14
}

pre .title {
  color: #900;
  font-weight: bold
}

pre .subst {
  font-weight: normal
}

pre .class .title {
  color: #458;
  font-weight: bold
}

pre .attribute,
pre .variable {
  color: #008080
}

pre .regexp {
  color: #009926
}

pre .class {
  color: #458;
  font-weight: bold
}

pre .symbol,
pre .ruby .symbol .string {
  color: #990073
}

pre .shebang {
  color: #999;
  font-weight: bold
}
